{% assign languages = site.data.data.sidebar.languages %}

{% if languages %}

<div class="education-container container-block">

   <h2 class="container-block-title">
     Skills
   </h2>
      <div class="item">
         <ul class="list-unstyled contact-list">
         <li class="email">
            <h4 class="degree"><i class="fas fa-code"></i> Programming languages:</h4></li></ul>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.programminglanguages}}</h5>
          </div>

    <h4 class="degree"><i class="fas fa-database"></i> Databases:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.databases}}</h5>

     <h4 class="degree"><i class="fas fa-project-diagram"></i> Frameworks/API/Other techs:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.frameworks}}</h5>
   
     <h4 class="degree"><i class="fas fa-desktop"></i> Systems:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.systems}}</h5>
   
     <h4 class="degree"><i class="fas fa-code-branch"></i> Version control:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.versioncontrol}}</h5>
   
     <h4 class="degree"><i class="fas fa-file-alt"></i> Software:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.software}}</h5>
   
     <h4 class="degree"><i class="fas fa-lightbulb"></i> Soft skills:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.softskills}}</h5>
   
     <h4 class="degree"><i class="fas fa-plane"></i> Languages:</h4>
       <h5 class="meta" style="color:#FFFFFF">{{sidebar.newlanguages}}</h5>
   

</div><!--//interests-->

{% endif %}
