{% assign languages = site.data.data.sidebar.languages %}

<style>
  
</style>
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    Skills
  </h2>

      <span class="fas fa-code">
      Programming languages:    {{ sidebar.programminglanguages}}
         
      <span class="fas fa-database">
      databases: SQL, MySQL.
        
        <span class="fas fa-project-diagram">
    frameworks: Java Swing, JDBC, JPA, Java EE, Junit, Hamcrest, Mockito, Spring, Spring boot, Spring MVC, Maven, Hibernate.  
    
          <span class="fas fa-laptop-code">
          systems: Windows, GNU/Linux (Ubuntu).
            
            <span class="fas fa-code-branch">
    versioncontrol: Git, GitHub.
              
              <span class="fas fa-file-alt">
    software: MSOffice, OpenOffice, LibreOffice, Microsoft Teams, Eclipse, Wordpress, dbdesigner.
                
                <span class="fas fa-lightbulb">
    softskills: leadership, project management, personal productivity, scrum, agile methods, teaching.
                  
                  <span class="fas fa-plane">
    newlanguages: Spanish (native), English (professional).
  
  <ul class="list-unstyled interests-list">
    {%for language in languages %}
    <li>
      {{ language.idiom }}
      <span class="lang-desc">({{ language.level }})</span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
