{% assign languages = site.data.data.sidebar.languages %}
{% assign myskills = site.data.data.sidebar.myskills %}

{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    Skills
  </h2>

      <span class="fa-database fa-xs">
      Prueba de título:    {{ myskills.programminglanguages}}
    
  
  
  <ul class="list-unstyled interests-list">
    {%for language in languages %}
    <li>
      {{ language.idiom }}
      <span class="lang-desc">({{ language.level }})</span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
